<div class="card m-4">
    <div class="card-body">
        <a href={{video_link video_id}}>
            <div class="text-center">
                <img src={{video_image video_id}} class="img-fluid" />
            </div>
        </a>
    </div>
    <footer class="card-footer">
        <p class="text-center">{{song_name}}</p>
    </footer>
</div>