<div class="card m-4">
    <div class="ratio ratio-16x9 card-body">
        <iframe src={{video_embed video_id}} allowfullscreen></iframe>
    </div>
    <footer class="card-footer">
        <h6 class="text-center m-1">{{song_name}}</h6>
    </footer>
</div>