<div class="wrapper">
    <div id="start-screen" class="start">
        <p>Guess the name of each song.</p>
        <form>
            <div class="form-row align-items-center justify-content-center">
                <select class="custom-select" id="quiz-length">
                    <option selected value="3">3 Songs</option>
                    <option value="5">5 Songs</option>
                    <option value="10">10 Songs</option>
                </select>
                <button type="submit" id="start" class="btn btn-primary">Start Quiz</button>
            </div>
        </form>
    </div>
    <!-- hidden when first loaded -->
    <div id="questions" class="hide">
        <h2 id="question-title">
            <div class="skeleton skeleton-lyric"></div>
            <div class="skeleton skeleton-lyric"></div>
            <div class="skeleton skeleton-lyric"></div>
            <div class="skeleton skeleton-lyric"></div>
        </h2>
        <div id="choices" class="choices">
            <div class="skeleton skeleton-button"></div>
            <div class="skeleton skeleton-button"></div>
            <div class="skeleton skeleton-button"></div>
            <div class="skeleton skeleton-button"></div>
            <div class="skeleton skeleton-button"></div>
        </div>
    </div>
    <div id="feedback" class="feedback hide"></div>
</div>

<div id="end-screen" class="hide text-center">
    <h2>All done!</h2>
    <p>Your final score is <span id="final-score"></span>.</p>

    <form id=initial-form>
        <div class="form-row align-items-center justify-content-center">
            <!-- <div class="col-auto">
                <label class="sr-only" for="initials">Initials</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Enter initials:</div>
                    </div>
                    <input type="text" class="form-control" id="initials">
                </div>
            </div> -->
            <div class="col-auto">
                <button type="submit" id="submit" class="btn btn-primary mb-2">Submit</button>
            </div>
        </div>
    </form>
    <ul id="answers-list"></ul>
</div>