<div class="wrapper">
    <div id="start-screen" class="start">
        <p>Guess the name of each song.</p>
        <form>
            <div class="input-group">
                <select class="form-select" id="quiz-length">
                    <option selected value="5">5 Songs</option>
                    <option value="10">10 Songs</option>
                    <option value="15">15 Songs</option>
                    <option value="20">20 Songs</option>
                    <option value="25">25 Songs</option>

                </select>
                <button
                    type="submit"
                    id="start"
                    class="btn btn-outline-primary"
                >
                    <i class="fas fa-play"></i>

                </button>

            </div>

        </form>
    </div>
    <!-- hidden when first loaded -->
    <div id="questions" class="hide">
        <h2 id="question-title">
            <div class="skeleton skeleton-lyric"></div>
            <div class="skeleton skeleton-lyric"></div>
            <div class="skeleton skeleton-lyric"></div>
            <div class="skeleton skeleton-lyric"></div>
        </h2>
        <div id="choices" class="choices">
            <div class="skeleton skeleton-button"></div>
            <div class="skeleton skeleton-button"></div>
            <div class="skeleton skeleton-button"></div>
            <div class="skeleton skeleton-button"></div>
            <div class="skeleton skeleton-button"></div>
        </div>
    </div>
    <div id="feedback" class="feedback hide"></div>
</div>
<div id="end-screen" class="hide text-center">
    <h2>All done!</h2>
    <p>Your final score is <span id="final-score"></span>.</p>
    <a class="btn btn-outline-primary" href="/">
        <i class="fas fa-play"></i>
        Play Again</a>
    <a class="btn btn-outline-primary" href="/songs">
        <i class="fas fa-music"></i>
        My Songs</a>
    <a class="btn btn-outline-primary" href="/scores">
        <i class="fas fa-star"></i>
        Leaderboard</a>
    {{! <ul id="answers-list"></ul> }}
</div>

