<table class="table table-hover text-center">
    <thead class="bg-primary text-white"> 
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Score</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each scores as |score|}}
        {{> scores-details}}
        {{/each}}
    </tbody>
</table>