<section class="card m-4">
    <h2 class="card-header text-center">
        Sign Up
    </h2>
    <div class="card-body">
        <form class="signup-form">
            <div class="m-3">
                <label for="name-signup" class="form-label">Username:</label>
                <input class="form-control" type="text" id="name-signup" />
            </div>
            <div class="m-3">
                <label for="email-signup" class="form-label">Email:</label>
                <input class="form-control" type="text" id="email-signup" />
            </div>
            <div class="m-3">
                <label
                    for="password-signup"
                    class="form-label"
                >Password:</label>
                <input
                    class="form-control"
                    type="password"
                    id="password-signup"
                />
            </div>
            <div class="m-3">
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fas fa-user-plus"></i>
                    Sign Up
                </button>
                <a href="/login" class="ms-3">Login instead</a>
            </div>
        </form>
    </div>
</section>

<script src="/js/signup.js"></script>